@font-face{font-family:sf pro display;font-style:normal;font-weight:400;src:local('SF Pro Display'),url(./font/SFPRODISPLAYREGULAR.woff) format('woff')}@font-face{font-family:sf pro display;font-style:italic;font-weight:100;src:local('SF Pro Display'),url(font/SFPRODISPLAYULTRALIGHTITALIC.woff) format('woff')}@font-face{font-family:sf pro display;font-style:italic;font-weight:200;src:local('SF Pro Display'),url(font/SFPRODISPLAYTHINITALIC.woff) format('woff')}@font-face{font-family:sf pro display;font-style:italic;font-weight:300;src:local('SF Pro Display'),url(font/SFPRODISPLAYLIGHTITALIC.woff) format('woff')}@font-face{font-family:sf pro display;font-style:normal;font-weight:500;src:local('SF Pro Display'),url(font/SFPRODISPLAYMEDIUM.woff) format('woff')}@font-face{font-family:sf pro display;font-style:italic;font-weight:600;src:local('SF Pro Display'),url(font/SFPRODISPLAYSEMIBOLDITALIC.woff) format('woff')}@font-face{font-family:sf pro display;font-style:normal;font-weight:700;src:local('SF Pro Display'),url(font/SFPRODISPLAYBOLD.woff) format('woff')}@font-face{font-family:sf pro display;font-style:italic;font-weight:800;src:local('SF Pro Display'),url(font/SFPRODISPLAYHEAVYITALIC.woff) format('woff')}@font-face{font-family:sf pro display;font-style:italic;font-weight:900;src:local('SF Pro Display'),url(font/SFPRODISPLAYBLACKITALIC.woff) format('woff')}@font-face{font-family:reey;font-style:normal;font-weight:400;src:local('Reey'),url(font/Reey-Regular.woff) format('woff')}

body {
    overflow-x: hidden;
    display: block;
    width: 100%;
}

:root {
    --main-color: #FFA718;
    --color-text: #333;
}

/* CSS Header */

.bground_header {
    background-image: url("./img/background_header.png");
    background-size: cover;
    background-position: center;
    height: 791px;
    /* padding: 0px 0 30px 0; */
    position: relative;
    z-index: 1;
  }

  .bground_header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 28, 26, 0.30) 0%, rgba(24, 28, 26, 0.00) 100%);
    z-index: -1;
  }

  .txt_pcust {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-top: 18px;
  }

  .icon-txt-mail-span img {
    margin-right: 10px;
    filter: brightness(0%) invert(100%)
  }

  .img_icon {
    display: flex;
    width: 16px;
    justify-content: center;
    align-items: center;
  }

  .icon-txt-mail-span a {
    text-decoration: none;
  }

  .icon-txt-mail-span span {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .txt_dropdown {
    color: var(--Neutral-6, #FFF);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
  }

  .drop_down {
    border-radius: 48px;
    background: rgba(255, 255, 255, 0.40);
    display: inline-flex;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 8px;
    margin-right: 18px;
  }

  .drop_down2 {
    border-radius: 48px;
    background: rgba(255, 255, 255, 0.40);
    display: inline-flex;
    padding: 10px 15px;
    align-items: flex-start;
    gap: 8px;
  }

  .drop_down2 a {
    text-decoration: none;
    color: #fff;
  }

  .border-bottom {
    border-bottom: 1px solid #ffffff !important
  }

  .txt_h2 {
    justify-content: center;
    text-align: center;
    color: var(--Neutral-6, #FFF);
    font-family: Reey;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-top: 178px;
  }

  .text_pp {
    color: var(--Neutral-5, #F0F0F0);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    margin-top: 22px;
  }

  .btn-followus {
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Primary, #FFA718) !important;
    color: var(--Neutral-6, #FFF) !important;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-top: 40px;
  }

/* CSS Agence HN Voyces */

.agencehnvoyces {
    padding: 50px 0 30px 0;
}

.txthnvoyces {
    width: 100%;
    max-width: 891px;
    color: var(--Neutral-1, #111D37);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    margin: 0 auto;
    margin-bottom: 38px;
}

.txtdeschnvoyces {
    width: 100%;
    max-width: 839px;
    margin: 0 auto;
    color: var(--Neutral-2, #434B5C);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}


/* CSS Travel Styles */

.explore_travel_styles {
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-between;
}

.txt_travelstyle {
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    text-transform: uppercase;
}
.txt_travelstyle a {
    text-decoration: none;
    color: var(--Neutral-1, #111D37);

}

.des_travelstyle {
    color: var(--Neutral-2, #434B5C);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.explore_travel_styles-left-child{
    width: 30%;
}

.explore_travel_styles-right-child{
    display: flex;
    justify-content: space-between;
    width: 70%;
    position: relative;
}

.travel-style-container{
    display: block;
    width: 24%;
    height: 441px;
    position: relative;
}

.travel-style-img-holder{
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.travel-style-img{
    height: 100%;
}

.travel-style-content{
    padding: 8px;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    height: 155px;
    background-color: #ffffff;
    bottom: -10%;
    position: absolute;
    z-index: 2;
    transition: bottom 0.3s ease;
}

.travel-style-container:hover .travel-style-content{
    bottom: 10%;
}

.travel-style-floating-button{
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    top: 50%;
    border-radius: 50%;
}

.pre-button{
    left: -1%;
}

.next-button{
    left: 60%;
}
/* CSS Destination  */

.imgtxt-destination {
    padding: 50px 0 80px 0;
}

.txtdest {
    color: var(--Neutral-1, #111D37);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    text-transform: uppercase;
}

.txtfollowus {
    color: var(--Neutral-2, #434B5C);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.destination-background{
    display: flex; 
    justify-content: space-between;
}

.destination-selector-default{
    font-weight: 400; 
    color: #959AA4;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
}

.destination-selector-container{
    display: flex; 
    justify-content: space-between;
    padding: 35px 40px 35px 0px;
    opacity: 1;
}

.destination-selector-selected{
    border-left: #FFA718 4px solid; 
    padding-left: 12px; 
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
}

.destination-content{
    width: 520px;
    display: none;
}

.txt_dest {
    width: 100%;
    max-width: 621px;
    margin-bottom: 35px;
    color: var(--Neutral-2, #434B5C);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

/* CSS Reasons and Recommend */

.reasonandrecom {
    padding: 50px 0 30px 0;
    border-radius: 40px 40px 0px 0px;
    background: #FFF9F1;
}

.reasonsbook {
    color: var(--Neutral-2, #434B5C);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    margin-bottom: 40px;
}

.white-box {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 12px 32px 0px rgba(125, 135, 158, 0.09);
    padding: 25px;
    transition: box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.white-box:hover {
    box-shadow: 0px 12px 24px 0px rgba(255, 167, 24, 0.36);
  }

.white-box img {
    margin-bottom: 24px;
}

.white-box h3 {
    margin-bottom: 12px;
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 150% */
}

.white-box p {
    color: var(--Neutral-2, #434B5C);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
}

.txtfamous {
    color: var(--Neutral-2, #434B5C);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-top: 60px
}

.img-guidebook {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.linkbooktour {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.linkbooktour a {
    text-decoration: none;
}

.linkbooktour img {
    max-width: 100%;
    height: auto;
    margin-left: 30px;
}

/* Css Customer To Say */

.customersay {
    padding: 50px 0 80px 0;
}

.txtwhatsay {
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    text-align: center;
    text-transform: uppercase;
}

.testimonial-container {
    text-align: center;
    margin-bottom: 30px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

.stars {
    color: #f1c40f;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
}


.owl-carousel .owl-stage .item {
    width: 100%;
}

.owl-carousel .owl-stage .item .testimonial-container {
    width: 80%;
    margin: 0 auto;
}


/* CSS Explore Our Trips */

.exploretrip {
    border-radius: 40px 40px 0px 0px;
    background: #FFF;
    padding: 50px 0 0 0;
}

.txtourtrip {
    color: var(--Neutral-1, #111D37);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    text-transform: uppercase;
}

.txtexper {
    color: var(--Neutral-2, #434B5C);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.img_sizecard {
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 32px;
}

.img_sizecard a {
    text-decoration: none;
}

.img_sizecard:hover h3 {
    text-decoration: underline;
}

.card-img-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
}

.card-img-wrapper .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-wrapper:hover .card-img-top-view-detail {
    display: block;
}

.card-img-wrapper:hover .card-img-top {
    filter: brightness(50%);
}

.card-img-wrapper:hover .card-img-top-view-detail {
    filter: brightness(100%);
}

.card-img-wrapper:hover .corner-badge {
    filter: brightness(50%);
}


.card-img-top-view-detail{
    display: none;
    color: var(--Primary, #FFA718);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.card-img-top-view-detail-block{
    position: absolute; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--Primary, #FFA718);
    filter: brightness(100%);

}

.card-img-top-view-detail a {
    text-decoration: none;
    color: var(--Primary, #FFA718) !important;
}


.corner-badge {
    position: absolute;
    top: 24px;
    left: 24px;
    padding: 5px;
    border-radius: 8px;
    background: var(--Primary, #FFA718);
    color: white;
    display: inline-flex;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 10px;
}

.corner-image {
    position: absolute;
    border-radius: 6px;
    background: rgba(17, 29, 55, 0.70);
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.corner-image img {
    display: block;
    width: 20px;
    height: 20px;
    padding: 2.5px 2.086px 2.501px 2.083px;
    justify-content: center;
    align-items: center;
}

.card_alltxt {
    display: flex;
    /* width: 405px; */
    height: 328px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px 20px 8px 8px;
    background: #FFF;
    margin-bottom: 24px;
}

.card_text {
    display: flex;
    max-width: 357px;
    width: 100%;
    height: 280px;
    flex-direction: column;
    gap: 16px;
    flex-shrink: 0;
}

.card_text h3 {
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.card_text .rating {
    align-items: center;
}

.card_text .rating i {
    color: var(--main-color);
}

.card_text .rating span {
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.card_text .category-imgtxt {
    display: flex;
    align-items: center;
}

.card_text .category-imgtxt img {
    margin-right: 8px;
}

.card_text .category-imgtxt span {
    color: var(--Neutral-2, #434B5C);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.card_text .description {
    color: var(--Neutral-3, #959AA4);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}

.card_text .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Neutral-2, #434B5C);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}

.card_text .details i {
    margin-right: 8px;
}

.txtfromprice {
    display: flex;
    align-items: center;
    justify-content: center;
}

.txtfrom {
    color: var(--Neutral-3, #959AA4);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-right: 8px;
}

.numbprice {
    color: var(--Primary, #FFA718);
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}

.btnviewmore {
    margin-bottom: 62px;
}

.btn-exploremore {
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Primary, #FFA718) !important;
    color: var(--Neutral-6, #FFF) !important;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}


/* CSS How It Works */

.icontxtworks {
    border-radius: 40px 40px 0px 0px;
    background: #FFF9F1;
    padding: 50px 0 50px 0;
}

.txthowwork {
    color: var(--Neutral-1, #111D37);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.img_day {
    position: absolute;
    width: 996px;
    height: 46px;
    flex-shrink: 0;
}

.icon-circle {
    position: relative;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 31px;
}

.icon-wrapper-txt h3 {
    color: #242424;
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.icon-wrapper-txt p {
    color: #242424;
    text-align: center;
    
    /* Body/16px/Regular */
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

/* CSS Update News */

.newsupdate {
    padding: 50px 0 80px 0;
    border-radius: 40px 40px 0px 0px;
    background: #FFF;
}

.txtupnews {
    color: var(--Neutral-1, #111D37);
    text-align: center;
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.owl-carousel .item {
    margin: 5px;
  }
  .owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto;
  }

.card_img_txt {
    margin-bottom: 20px;
}

.card_img_ {
    width: 100%;
    height: auto;
}

.card_txt_btn {
    border-radius: 8px;
    border: 1px solid var(--Neutral-5, #F0F0F0);
    background: linear-gradient(0deg, #FFF9F1 0%, #FFF9F1 100%), lightgray 50% / cover no-repeat;
    padding: 32px 24px 32px;
}

.txt_title {
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 20px;
}

.txt_desc {
    color: var(--Neutral-2, #434B5C);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.timestamp {
    color: var(--Neutral-2, #434B5C);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}

.txt_timedate {
    margin-left: 8px;
}

.btn-viewmore {
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: var(--Primary, #FFA718) !important;
    color: var(--Neutral-6, #FFF) !important;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.carousel-indicators {
    display: none;
}

.owl-nav button.owl-prev,
.owl-nav button.owl-next {
    background-color: #FFF ;
    color: #434B5C !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 4;
    fill: #FFF;
    filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.08));
    text-decoration: none;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
  }
  
  .owl-carousel .owl-prev {
    margin-left: 5px;
  }
  
  .owl-carousel .owl-next {
    margin-right: 5px;
  }


.owl-carousel .owl-nav button,
.owl-carousel .owl-nav button {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: black;
    border-radius: 50%;
}

/* CSS Trip Info */

.infotripbegin {
    background: #F7F7F7;
    padding: 50px 0 80px 0;

}

.txt_pertrip {
    max-width: 509px;
    color: #000;
    font-family: "SF Pro Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 32px;
}

.txtperfect {
    position: relative;
    z-index: 1;
  }

.txtperfect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 8px;
    background-color: var(--main-color);
    z-index: -1;
    opacity: 0; /* Ẩn mặc định */
    transition: opacity 0.3s; /* Thời gian chuyển đổi */
  }

  .txtperfect:hover::after {
    opacity: 1; /* Hiển thị khi di chuột vào */
  }
  


.infotripbegin p {
    color: var(--Neutral-2, #434B5C);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.contact-txtico {
    display: flex;
    align-items: center;
    color: #000;
    font-family: "SF Pro Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 12px;
}

.contact-txtico span {
    width: 384px;
}

.contact-txtico a {
    text-decoration: none;
    color: #000;
}

.contact-txtico img {
    margin-right: 16px;
}

.txtlinkmap {
    text-decoration: none;
    color: #FFA718 !important;
}

.destxt {
    max-width: 470px;
    margin-top: 32px
}

.img-cust-lar {
    border-radius: 8px;
}

.picsmall {
    margin-top: 20px;
}

.img-cust-smal {
    border-radius: 8px;
}

.picsmall .col-6 {
    display: flex;
    align-items: center;
}

.image-wrapper {
    margin: 0 0 50px;
}


/* CSS Video Frame */

.framevideotxt {
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    border-radius: 14px 14px 0 0;
    padding: 50px 0 80px 0;

}

.videoplaypic {
    width: 100%;
    border-radius: 10px;
}

.txt_readylets {
    padding: 0 0 0 62px;
}

.txtready {
    color: var(--Neutral-1, #111D37);
    font-family: "SF Pro Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
}

.txtcomt {
    width: 100%;
    max-width: 604px;
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 48px;
}

.btn-trip {
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    max-width: 40%;
    background: var(--Neutral-1, #111D37) !important;
}

.btn-trip span {
    color: var(--Neutral-6, #FFF);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

/* CSS Footer */

.cuoitrang {
    padding: 60px 0 0px 0;
}

.bg-footer {
    background: var(--Neutral-1, #111D37);
}

.form-sub {
    position: relative;
    width: 85%;
    max-width: 475px;
    margin-bottom: 21px;
}

#email-sub {
    width: 100%;
    height: 55px;
    background: #fff;
    outline: none;
    border-radius: 3px;
    padding: 0 135px 0 25px;
    border: 1px solid #D7DCE3;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #999;
}

#email-check {
    display: none !important;
}

.btn-reg {
    position: absolute;
    font-size: 18px;
    border-top-right-radius: 3px ;
    border-bottom-right-radius: 3px;
    border: none;
    font-weight: 700;
    min-width: 115px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
}

.btn_reg {
    background: var(--main-color) !important;
    color: var(--color-text) !important;

}

.txtfindus {
    color: var(--Neutral-3, #959AA4);
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
}

.txtheaderlarge {
    color: #FFF;
    font-family: "SF Pro Display";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.txtheadersmall {
    max-width: 220px;
    color: #959AA4;
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
	color: inherit;
    text-decoration: none;
}

.txtheadersmll a {
    color: #959AA4 ;
	text-decoration: none !important;
}

.txtheadersmll {
	color: #666;
	font-family: "SF Pro Display";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.txthreflink li {
    margin-bottom: 8px;
}

.txthreflink li a {
    display: block;
	color: #959AA4;
	font-family: SVN-Gilroy;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%; /* 21px */
    text-decoration: none;
}

.img_logohn img {
    width: auto;
    display: flex;
    max-width: 178px;
    height: 62px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.txtlogo {
    color: var(--Neutral-3, #959AA4);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    margin-left: 37px;

}

.txt-contact {
    color: var(--Neutral-3, #959AA4);
    font-family: "SF Pro Display";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.border-top {
    border-top: 1px solid #434B5C !important;
}

.icon-mxh i {
    height: 20px;
    padding-left: 20px;
    text-decoration: none;
}

